

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
  

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="#" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle"  alt="" style="width: 40px; height: 40px;background-color: aqua;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">ADMIN</h6>
                        <span>Admin</span>
					
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/home" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Home</a>
                    <a href="product" class="nav-item nav-link"><i class="fa fa-th me-2"></i>product</a>
                    <a href="category" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Categories</a>
                    <a href="#" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Orders</a>
                    <a href="coupon" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Coupons</a>
                    <a href="user" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Customer</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="#" class="dropdown-item">Sign In</a>
                            <a href="#" class="dropdown-item">Sign Up</a>
                            <a href="#" class="dropdown-item">404 Error</a>
                            <a href="#" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
		<!-- <div id="unique" class="hai" style="color: brown;">hioaidfjpdsoifj</div> -->


		<div class="align-items-center ms-5">
            <main class="ms-5">
                <div class="head-title">
                    <div class="left">
                        <h1>USERS</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            <li><i class='bx bx-chevron-right' ></i></li>
                            <li>
                                <a class="active" href="#">USERS</a>
                            </li>
                        </ul>
                    </div>
                    <a href="productAdd" class="btn-download">
                        <i class='bx bxs-cloud-download' ></i>
                    
                    </a>
                </div>
                <h3>User Dash board</h3>
                <%
                if (typeof data!='undefined')
                {
                    %>
                    <h2 style="text-align: center;color: green;"><%= data %></h2>
                    <%
            
                }
                  %>
    
    
                  
                  <%
                  if (typeof Data!='undefined')
                  {
                      %>
                      <h2 style="text-align: center;color: rgb(128, 0, 0);"><%= Data %></h2>
                      <%
              
                  }
                    %>
                    
    
    
                <div class="table-data">
                    <div class="order">
                        <div class="head">
                            <h3>Products</h3>
                            <i class='bx bx-search' ></i>
                            <i class='bx bx-filter' ></i>
                        </div>
                        <div>
                      
                    
            
                            <table >
                                <thead >
                                    <tr >
                                        <th style="border: solid 2px rgb(4, 4, 5); width: 150px;height: 50px ;text-align: center;">Name</th>
                                        
                                        <th style="border: solid 2px rgb(8, 8, 9); width: 150px;height: 50px ;text-align: center;">phone </th>
                                        <th style="border: solid 2px rgb(6, 6, 8); width: 150px;height: 50px ;text-align: center;">email</th>
                                        <th style="border: solid 2px rgb(6, 6, 9); width: 150px;height: 50px ;text-align: center;">password</th>  
                                    <!-- <a href=""><th  style="border: solid 2px rgb(13, 13, 14); width: 150px;height: 50px ;text-align: center;">Update</th></a> -->
                                    <a href=""><th  style="border: solid 2px rgb(7, 6, 8); width: 150px;height: 50px ;text-align: center;">Delete</th></a>
                                    <a href=""><th  style="border: solid 2px rgb(6, 6, 8); width: 150px;height: 50px ;text-align: center;">Banned</th></a>
                                    <a href=""><th  style="border: solid 2px rgb(10, 9, 10); width: 150px;height: 50px ;text-align: center;">UnBanned</th></a>
                                </tr>
                                </thead>
                                <tbody>
                      <% if(productData.length >0){
                        for(let i=0;i<productData.length;i++){
                          %>
                          <tr style="margin: 20px;">
                                        <td  style="border: solid 2px rgb(7, 7, 9); width: 150px;height: 50px ;text-align: center;">
                                            <p><%= productData[i].name %> </p>
                                        </td>
                                        
                                        <td style="border: solid 2px rgb(10, 10, 11); width: 150px;height: 50px ;text-align: center;"> <p> <%= productData[i].phone %></p> </td>
                                        <td  style="border: solid 2px rgb(10, 9, 11); width: 150px;height: 50px ;text-align: center;"> <p> <%= productData[i].email %></p></td>
                                        <td  style="border: solid 2px rgb(6, 6, 7); width: 150px;height: 50px ;text-align: center;"> <%= productData[i].password%></td>
                                        <!-- <td  style="border: solid 2px rgb(9, 9, 10); width: 150px;height: 50px ;text-align: center;"> <a href="/admin/updateProduct?id=<%=productData[i]._id %>"><button style="border: none;background-color: rgb(66, 81, 243);color: white;">Update</button></a> </td> -->
                                        <td  style="border: solid 2px rgb(3, 3, 3); width: 150px;height: 50px ;text-align: center;"> <a href="/admin/deleteProduct?id=<%=productData[i]._id %>"><button type="button" class="btn btn-danger">Delete</button></a> </td>
                                        <td  style="border: solid 2px rgb(14, 14, 15); width: 150px;height: 50px ;text-align: center;"> <a href="/admin/banned?id=<%=productData[i]._id %>"><button type="button" class="btn btn-warning">Banned</button></a> </td>
                                        <td  style="border: solid 2px rgb(6, 5, 11); width: 150px;height: 50px ;text-align: center;"> <a href="/admin/unbanned?id=<%=productData[i]._id %>"><button type="button" class="btn btn-success">UNbanned</button></a> </td>
                                    </tr>
                                    <%
                        }
                      } %>
                                
                                    
                                </tbody>
                            </table>
              
    
    
                    
                
            
            </main>
        </div>
    
    

        <!-- Back to Top -->
        

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>